<%= render 'layerbegin' %>
<div class="page-content">


  <div class="row">
    <div class="col-xs-12">
      <%= render 'form', secondactive: @secondactive %>
    </div>
  </div>
</div>
<%= render 'layerend' %>